<h1>OPTIONS</h1>

<%= link_to "new option", new_option_path %>

<div class="flex">
    <% @options.each do |option|%>
    <div class="single_option_item">
        <%= render(DeleteButtonComponent.new(resource: option)) %>
        <div class="flex">
            <h3> name: <%= option.name %> [<%= option.width %> x <%= option.height %> ]</h3>
        </div>
        <div class="flex-column">
            <%= image_tag option.image if option.image.attached? %>
            <h4> image_url: <%= option.image_url %> </h4>
        </div>
    </div>
    <% end %>
</div>

<%if false%>
New Option:
<%= render "form", option: @option %>
<%end%>