<div id="productModal" class="modal">
    <div class="modal-content">
        <div class="images">
            <img src="<%= asset_path('display_shop_item.jpg') %>" alt="<%= product.name %>">
        </div>
        <div class=info>
            <span class="close">&times;</span>
            <h1><%= product.name %></h1>
            <h2>$ <%= product.id || product.id %></h2>
            <p><%= product.description || "Longer product description" %></p>

            <button class="addToCartBtn">Add To Cart</button>
        </div>
    </div>
</div>