<section class="products_wrapper">
    <%# 5.times do %>
    <% @products.each do |product| %>
    <section class="new_product" data-id="<%= product.id %>">
        <div class="product_container">
            <div class="image_container">
                <%= image_tag "display_shop_item.jpg" %>
                <%= image_tag "display_shop_hover.jpeg" %>
            </div>
            <div class="cart_btn">
                <h2>$ <%= product.id %></h2>
            </div>

            <div class="hover_details">
                <h1>product name</h1>
                <p> Small product description </p>
            </div>
        </div>

        <div class="product_name">
            <h1><%= product.name %></h1>
            <h1> More Details!</h1>
        </div>
    </section>
    <% end %>
</section>


<script>
    products = document.querySelectorAll(".new_product")
    products.forEach(product => {
        product.addEventListener('click', () => {
            var productId = product.getAttribute("data-id");

            fetch('/products/' + productId + '/modal')
                .then(response => response.text())
                .then(html => {
                    // Remove any existing modal
                    var existingModal = document.getElementById("productModal");
                    if (existingModal) {
                        existingModal.remove();
                    }

                    // Append the rendered partial to the body
                    document.body.insertAdjacentHTML("beforeend", html);

                    // Display the modal
                    var modal = document.getElementById("productModal");
                    modal.style.display = "block";

                    // Close on clicking the close button
                    modal.querySelector(".close").addEventListener("click", function() {
                        modal.remove();
                    });

                    // Close if clickin1g outside the modal content
                    window.addEventListener("click", function(event) {
                        if (event.target === modal) {
                            modal.remove();
                        }
                    });

                    btn = document.querySelector(".addToCartBtn")
                    btn.addEventListener('click', () => {
                        console.log("OK");
                    })
                })
        })
    });
</script>