<h1><%= t ".title" %></h1>

<% if false %>
<div id="products">
    <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product %>
    </div>
    <% end %>
</div>
<% end %>

<%= link_to "New Product", new_product_path %>

<section class="products_wrapper">
    <% @products.each do |product| %>
    <div>
        <%# if authenticated? %>
        <div class="flex">
            <%= render(EditButtonComponent.new(resource: product)) %>
            <%= render(DeleteButtonComponent.new(resource: product)) %>
        </div>
        <%# end %>
        <%= render "products/product", product: product %>
    </div>
    <% end %>
</section>