<h1><%= t ".title" %></h1>

<% if false %>
<div id="products">
    <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product %>
    </div>
    <% end %>
</div>
<% end %>

<%= link_to "New Product", new_product_path %>

<section class="products_wrapper">
    <%# 5.times do %>
    <% @products.each do |product| %>
    <section class="new_product" data-id="<%= product.id %>">
        <div class="flex">
            <%= render(EditButtonComponent.new(resource: product)) %>
            <%= render(DeleteButtonComponent.new(resource: product)) %>
        </div>
        <div class="product_container">
            <div class="image_container">
                <%= image_tag "display_shop_item.jpg" %>
                <%= image_tag "display_shop_hover.jpeg" %>
            </div>
            <div class="cart_btn">
                <h2>$ <%= product.id %></h2>
            </div>

            <div class="hover_details">
                <h1>product name</h1>
                <p> Small product description </p>
            </div>
        </div>

        <div class="product_name">
            <h1><%= product.name %></h1>
        </div>
    </section>
    <% end %>
</section>