<footer id="footer">
    <div class="contact_details">
        <%= render "layouts/components/logo" %>

        <div class="contact">
            <p> Phone: +372 5555 6666 </p>
        </div>
        <div class="contact">
            <p> Email: myStoreName@gmail.com</p>
        </div>
    </div>
    <div class="footer_links">
        <%= link_to "Products", root_path(anchor: "products") %>
        <%= link_to "Buying information", information_path(anchor: "buying_info") %>
        <%= link_to "Delivery information", information_path(anchor: "delivery_info") %>
        <%= link_to "Terms & Conditions", information_path(anchor: "terms_info") %>
        <%= link_to "Return policy", information_path(anchor: "return_info") %>
    </div>
</footer>