<header>
    <nav>
        <%= render "layouts/components/logo" %>
        <div class="links">
            <%= link_to "Home", root_path %>
            <%= link_to "Products", root_path(anchor: "products") %>
            <%= link_to "Contact Us", root_path(anchor: "footer") %>
            <%= link_to "About", about_path %>
            <%#= link_to "New product", new_product_path if authenticated? %>
            <%= link_to "ADMIN PANEL ", admin_path,  style: "background: #CCC; padding: 0.4rem" %>
            <div class="shopcart">
                <%= link_to "SHOPCART", shopcart_path %>
            </div>

            <button>
                <%= link_to "Login", new_session_path unless authenticated? %>
            </button>
            <%= button_to "Log out", session_path, method: :delete if authenticated? %>
        </div>
    </nav>
</header>